{% extends "base.html" %} {% block head %} {% endblock %} {%block body%}
<div class="customerserviceform">
  <div class="customerserviceform_header">
    <h1>New Recruitment Request</h1>
  </div>

  <form
    class="customerserviceform_form"
    action="{{url_for('serviceManagerNewHireSubmit')}}"
    method="post"
  >
    <div class="customerserviceform_form_question">
      <text class="customerserviceform_form_fieldname">Contract Type</text>
      <div class="customerserviceform_form_radio">
        <input type="radio" name="contract_type" value="full time" /> Full Time
        <input type="radio" name="contract_type" value="part time" /> Part Time
      </div>
    </div>

    <div class="customerserviceform_form_question">
      <text class="customerserviceform_form_fieldname"
        >Requesting Department</text
      >
      <div class="customerserviceform_form_radio">
        <input type="radio" name="department" value="admin" /> Administration
        <input type="radio" name="deparment" value="service" /> Services
        <input type="radio" name="deparment" value="production" /> Production
        <input type="radio" name="deparment" value="financial" /> Financial
      </div>
    </div>

    <div class="customerserviceform_form_question">
      <text class="customerserviceform_form_fieldname">Year of Experience</text>
      <input type="number" name="experience" />
    </div>

    <div class="customerserviceform_form_question">
      <text class="customerserviceform_form_fieldname">Job Title</text>
      <input type="text" name="job_title" />
    </div>

    <div class="customerserviceform_form_question">
      <text class="customerserviceform_form_fieldname">Job Description</text>
      <textarea name="description"></textarea>
    </div>

    <button class="customerserviceform_form_button" type="submit">
      Send Request
    </button>
  </form>
</div>
{%endblock%}
